body {
    border: 1px solid black;
}

.container1 {
    display: flex;
    background-color: cadetblue;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.heading>h1 {
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 0;
}

.heading>hr {
    width: 80%;
    height: 3px;
    color: aliceblue;
}

.contact-info>p {
    display: flex;
}

.contact-info a {
    display: flex;
    text-decoration: none;
    color: black;
}

/*.contact-info a:hover {*/
/*    color: blue;*/
/*}*/

.contact-info img {
    flex-direction: column;
}

#telephone {
    height: 20px;
    width: auto;
}

.logo {
    height: 20px;
    width: auto;
}

.container2 {
    display: flex;
    align-content: space-between;
}

.left {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: calc(65% - 1em);
}

.left h2 {
    padding-left: 5px;
    border-bottom: 2px solid grey;
    background-image: linear-gradient(to right, cadetblue, grey, white);

}

.proj-logo {
    display: flex;
}

.right {
    flex-direction: column;
    padding: 1em;
    display: flex;
    width: calc(35% - 1em);
}

.right h2 {
    padding-left: 5px;
    border-bottom: 2px solid grey;
    background-image: linear-gradient(to right, cadetblue, lightgrey, white);
}

.tech-skills {
    display: flex;
    flex-direction: column;
}

.tech-skills li {
    list-style-type: none;
}

.tech1 {
    display: flex;
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .heading>h1 {
        font-size: 300%;
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;
    }

    .container2 {
        flex-wrap: wrap;
        align-content: space-between;
    }

    .container2 hr {
        display: none;
    }


    .left {
        order: 2;
        width: 100%;
    }

    .right {
        width: 100%
    }
}